*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, Verdana, 'Sedgwick Ave', sans-serif;
}

html, body{
    height: auto;
}

body.preload *{
    animation-duration: 0s !important;
    scroll-behavior: smooth;
}

.background{
    background: url(../images/newback.png);
}

.container{
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    box-shadow: 0px 0px 40px;
    padding: 10px 0;
    background-color: #fff7fe;
}

.button{
    background: #FFE6F4;
    color: black;
    padding: 7px 25px;
    border: 3px solid #FFBDE1;
    animation-name: contrastOut;
    animation-duration: 0.1s;
}

.button:hover{
    animation-name: contrastIn;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.bounce{
    display: inline-block;
}

.sections{
    display: inline-block;
}

/*HEADER*/
header{
    text-align: center;
}

header nav{
    background: linear-gradient(#FFBACD, #FC86AA);
    margin: 10px 0;
    padding: 5px 0;
}

header img.logo{
    height: 256px;
    cursor: pointer;
}

header img.logo:hover{
    animation: zoom .7s forwards;
}

header img.chibi{
    height: 128px;
    cursor: pointer;
    animation-name: contrastOut;
    animation-duration: 0.1s;
}

header img.chibi:hover{
    animation-name: contrastIn;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

header ul{
    display: inline-block;
}

header ul li{
    display: inline-block;
    margin-right: 40px;
}

header ul li:last-child{
    margin: 0;
}

/*HEADER*/


/*ASIDE*/
aside{
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    width: 12%;
    vertical-align: top;
    text-align: center;
}

aside h2{
    text-transform: uppercase;
}

aside ul.aside-poems{
    display: inline-block;
    list-style-type: none;
}

aside ul.aside-poems li{
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}
/*ASIDE*/


/*SECTION MAIN*/
section.main{
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    width: 100%;
    border-bottom: 1px solid pink;
}

section.main p.text{
    text-align: justify;
    font-size: 24px;
    vertical-align: top;
    display: inline-block;

    /*
    background: #FFE6F4;
    color: black;
    padding: 7px 25px;
    border: 3px solid #FFBDE1
    */
}

section.main img.girls{
    height: 100%;
    width: 100%;
}

section.main img.girlsM{
    height: 100%;
    width: 100%;
}

section.main img.girlsS{
    height: 100%;
    width: 100%;
}

section.main img.girlsN{
    height: 100%;
    width: 100%;
}

section.main img.girlsY{
    height: 100%;
    width: 100%;
}

section.main #sectionMonika{
    height: 0px;
    width: 0px;
}

section.main #sectionSayori{
    height: 0px;
    width: 0px;
}

section.main #sectionNatsuki{
    height: 0px;
    width: 0px;
}

section.main #sectionYuri{
    height: 0px;
    width: 0px;
}


/*SECTION MAIN*/

/*SECTION POEMS*/
section.poems{
    display: none;
    text-align: justify;
    font-size: 24px;
}
/*SECTION POEMS*/


/*ANIMATION*/
@keyframes contrastIn{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.3);
    }
}

@keyframes contrastOut{   
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes slideToRightGirls{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(35.9%);
    }
}

@keyframes slideToRightMonika{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(55.8%);
    }
}

@keyframes slideToRightSayori{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(81.8%);
    }
}

@keyframes slideToRightNatsuki{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(82.8%);
    }
}

@keyframes slideToRightYuri{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(67%);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-30px);
    }
    
}

@keyframes zoom{
    0%, 50%, 100%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.2);
    }

    75%{
        transform: scale(1.1);
    }
}



/*ANIMATION*/